@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Noto+Sans&family=Source+Sans+Pro&display=swap');

body {
    background-color: #2e4e14; 
    box-sizing: border-box; 
    overflow-y: hidden;
    box-sizing: border-box;
    padding-bottom: 40px; 
    font-family: 'Noto Sans', sans-serif;
}



.animalpictures{
    height: 160px; 
    width: 170px; 
    border-radius: 50%; 
    object-fit: cover;
    margin-top: 20px; 
    cursor: pointer; 
}

html, body {
    overflow-x: hidden;
}

.bigAnimalDiv{
    border-radius: 20%;
}

#newAnimalBtn {
    background-color: #dd9431; 
    color: black; 
    padding: 15px; 
    border-radius: 20px; 
    font-size: 16px; 
    border: none; 
    font-family: 'Mochiy Pop P One', sans-serif;
}

#buttons {
    padding-top: 10px; 
    text-align: center; 
    width: 100%; 
}

#newAnimalWeightBtn {
    transform: rotate(-15deg);
    height: 110px; 
    width: 110px;
    border-radius: 50%;
    font-size: 14px; 
    padding-top: 20px; 
    padding-left: 20px;
    padding-right: 20px; 
    cursor: pointer; 
    font-family: 'Mochiy Pop P One', sans-serif;
    background-color: #7aaf5f; 
    color: black; 
    font-weight: bold;
    margin-bottom: 6px; 
    border: none; 
}

#addRandomAnimal {
    transform: rotate(10deg);
    height: 110px; 
    width: 110px;
    border-radius: 50%;
    font-size: 14px; 
    padding-top: 20px; 
    padding-left: 20px;
    padding-right: 20px; 
    cursor: pointer; 
    font-family: 'Mochiy Pop P One', sans-serif;
    background-color: #7aaf5f; 
    color: black; 
    font-weight: bold;
    margin-bottom: 6px; 
    border: none; 

}

input {
    margin: 2px; 
    padding: 10px 20px;
    border: 1px solid #00415a; 
}

#my_btn{
    background-color: white;
    color: #607c3c;
    font-weight: bold;
    padding: 8px 15px; 
    font-size: 17px; 

}

.animal-text {

color: white; 
display: inline-block; 
height: 180px; 
position: relative; 
top: 20px; 
left: 10px; 
}


/* .foodsanimalsEat {
    position: relative; 
    left: 95px; 
    top: -40px; 
} */

.foodsanimalsEat{
    background-color: #6f0000; 
    color: white;
    padding: 5px; 
    border-radius: 20px; 
    cursor: pointer; 
    margin-top: 20px; 
    width: 160px; 
}

.eatOn {
    background-color: #555555; 
    color: white;
    padding: 5px; 
    border-radius: 20px; 
    cursor: pointer; 
    margin-top: 20px; 
    width: 160px; 
}

.headingstyle {
    font-family: 'Mochiy Pop P One', sans-serif;
    color: white; 
    width: 190px; 
    border-radius: 20px; 
    margin-bottom: 20px; 
    margin-top: 20px; 
    font-size: 36px; 
}

#div1, #div2, #div3 {

    text-align: center; 

}

#div1 {
    background-color: #00415a;
    
}

#div2 {
    background-color: #f48020; 

}

#div3 {
    background-color: #607c3c; 

}



#headingtreeText {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 55px; 
    padding: 20px; 
    border-radius: 5px;
    color:#fffdcc; 
    text-align: center; 
}

#reptilesQuestion, #mammalsQuestion, #birdsQuestion {
    display: none; 
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}




@media screen and (max-width: 900px)  {

    
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

}



@media screen and (max-width: 600px)  {

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}


}