body {
    background-color: #fffdcb; 

}

img {
    width: 190px;
    height: 190px; 
    border-radius: 50%; 
    display: inline-block; 
}

.animalpictures{
    display: inline-block; 
    object-fit: cover;
}

html, body {
    overflow-x: hidden;
}

#newAnimalBtn {
    background-color: #48a5b7; 
    color: black; 
    font-weight: bold;

    border: none; 
}

#buttons {
    text-align: center; 
    margin-bottom: 30px; 
}

#newAnimalWeightBtn {
        background-color: #7aaf5f; 
    color: black; 
    font-weight: bold;
    padding: 10px 20px; 
    font-size: 14px; 

    border: none; 
}

#addRandomAnimal {
    background-color: lightgray; 
    color: black; 
    font-weight: bold;
    padding: 10px 20px; 
    font-size: 14px; 


    border: none; 

}

input {
    margin: 2px; 
    padding: 10px 20px;
    border: 1px solid #00415a; 
}

#my_btn{
    background-color: white;
    color: #607c3c;
    font-weight: bold;
    padding: 8px 15px; 
    font-size: 17px; 

}

.animal-text {

    padding-bottom: 30px;  
color: white; 
display: inline-block; 
height: 180px; 
position: relative; 
top: 20px; 
left: 10px; 
}


.foodsanimalsEat {
    position: relative; 
    left: 95px; 
    top: -40px; 
}

.foodsanimalsEat{
    background-color: #6f0000; 
    color: white;
    width: 170px; 
    margin: 0 auto; 
    padding: 5px; 
    margin-bottom: -20px; 
    border-radius: 20px; 
    cursor: pointer; 
}

.headingstyle {
    background-color: grey; 
    color: white; 
    width: 190px; 
    border-radius: 20px; 
    margin: 0 auto; 
    margin-bottom: 20px; 
    margin-top: 20px; 
    border: 3px dotted white; 
}

#div1, #div2, #div3 {

    text-align: center; 

}

#div1 {
    background-color: #00415a;
    
}

#div2 {
    background-color: #f48020; 

}

#div3 {
    background-color: #607c3c; 

}



#headingtreeText {

    background-color: #1e696c; 
    width: 25%; 
    margin: 0 auto; 
    padding: 20px; 
    border-radius: 20%;
    color: white; 
    text-align: center; 
    margin-bottom: 20px; 
    border: 4px solid white; 

}

#reptilesQuestion, #mammalsQuestion, #birdsQuestion {
    display: none; 
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}




@media screen and (max-width: 900px)  {

    
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

}



@media screen and (max-width: 600px)  {

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}


}